.card-body {
  padding: .5rem;
}
.list-group-item {
  padding: .75rem;
}
.card:hover {
  opacity: .7;
  cursor: pointer;
}
.card-title:hover {
  color: lightseagreen;
}
label#form_ {
  font-size: 22px;
}
hr.new {
border-top: 1px solid grey;
}
#add-question {
  border: 2px dashed grey;
}
.border-dashed-3 {
  border:3px dashed grey
}

.btn.btn-light.btn-lg.border-dashed-3:hover{
  opacity: 40%;
}

.sticky-offset {
  top: 65px;
}

/* format text for options in play_game */
.shad {
  text-shadow: 1px 1px black;
  color: white;
  font-size: 1.75rem;
}
.shad2 {
  text-shadow: 1px 1px black;
  color: white;
  font-size: 1.75rem;
  text-align: center;
}

@media (max-width:425px){
  .row{
      flex-direction: column;
  }
  #signUpForm{
      padding: 0;

  }
}
@font-face {
  font-family: 'myFirstFont';
  src: url(./assets/font/TheNaturelTxt2.ttf);
}
@font-face {
  font-family: 'myFirstFont2';
  src: url(./assets/font/MittenRightRegular.otf);
}
h1 {
  font-family: 'myFirstFont';
}
.myFirstFont{
  font-family: 'myFirstFont' !important;

}
.quizz{
  font-family: 'myFirstFont2' !important;
}
