<div class="d-flex justify-content-start"><img src="../../../assets/images/square.svg" width="220rem"></div>
<div class="container ">
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <img src="../../../assets/images/quizz.svg" class="m-4" alt="logo kahoot" width="250rem">
      <form class="bg-white rounded-lg">
        <div class="form-group p-4">
          <input type="text" class="form-control form-control-lg font-weight-bold text-center" id="game-pin"
            placeholder="Game PIN">
          <button type="button" class="col-12 btn btn-lg btn-dark font-weight-bold mt-2">Enter</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row d-flex justify-content-center" *ngIf="false">
    <div class="col-4">
      <img src="../../../assets/images/quizz.svg" class="m-4" alt="logo kahoot" width="250rem">
      <form class="bg-white rounded-lg">
        <div class="form-group p-4">
          <input type="text" class="form-control form-control-lg font-weight-bold text-center" id="username"
            placeholder="Username">
          <button type="button" class="col-12 btn btn-lg btn-dark font-weight-bold mt-2">Enter</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end"><img src="../../../assets/images/square.svg" width="220rem">
</div>
