<div class="bg-white pt-4">
  <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Email</th>
            <th scope="col">Yetki</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Deneme Sınavı</td>
            <td>123456798</td>
            <td>COMPLETED</td>
            <td>
              <button class="btn btn-primary">Yetki Düzenle</button>
              <button class="btn btn-danger mx-2">Sil</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

</div>
