#container

{

    width: 400px;

    height: 400px;

    background-color: transparent;

    position: absolute;

    left: 50%;

    top: 40%;

    margin-left: -50px;

    margin-top: -50px;

}
.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
}
