<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Kiralanan Araç Listesi</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> User </th>
            <th> Araba İsmi </th>
            <th> Kiralayan </th>
            <th> Kiralanma Tarihi </th>
            <th> Kiradan Dönüş Tarihi </th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let rental of rentals">
            <td class="py-1">
              <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
            </td>
            <td> {{rental.carId}} </td>
            <td>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </td>
            <td> {{rental.rentDate | date :('dd-MM-yyyy')}} </td>
            <td>
              <label *ngIf="rental.returnDate==null" class="badge badge-primary">Kirada</label>
              <label *ngIf="rental.returnDate!=null" class="badge badge-success">{{rental.returnDate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
