<nav class="navbar navbar-expand-lg bg-white mb-4 pb-4 d-flex justify-content-center">
  <p class="text-center mb-0 quizz" style="font-size:45px;">
    Join at <b>Quizz</b> with Game PIN: <b id="game-pin"></b>
  </p>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col text-white pl-0" style="margin-top: -25px;">
      <div class="row">
        <div class="col-4 pl-0">
          <p class="font-weight-bold text-center mb-0 myFirstFont" style="font-size:60px;">2</p>
        </div>
      </div>
      <div class="row" style="margin-top: -15px;">
        <div class="col-4 pl-0">
          <p class="font-weight-bold font-italic text-center mb-0 myFirstFont" style="font-size:30px;">Oyuncular</p>
        </div>
      </div>
    </div>
    <div class="mx-auto mt-2">
      <img src="../../../assets/images/quizz.svg" alt="" width="210rem">
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-success font-weight-bold" style="font-size:25px;">Başla</button>
    </div>
  </div>
</div>

