<nav class="navbar navbar-dark text-light">
  <div clas="left-top-bar">
  </div>
  <div clas="left-top-bar">
    <h2 class="quizz pt-1 mt-1 text-dark">Soru Listesi</h2>
  </div>
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <div clas="right-top-bar">

  </div>
</nav>


<div class="bg-white pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-success" (click)="addQuestion(contentQuestion)">Soru Ekle</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-11">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Soru Resmi</th>
              <th scope="col">Soru</th>
              <th scope="col">Soru Zamanı</th>
              <th scope="col">Soru Skoru</th>
              <th scope="col">Soru Tipi</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of quiz.questions">
              <td>{{item.questionImage}}</td>
              <td>{{item.questionContent}}</td>
              <td>{{item.questionDuration}}</td>
              <td>{{item.questionScore}}</td>
              <td>{{item.questionType}}</td>
              <td>
                <button class="btn btn-primary" (click)="editQuestion(contentQuestion,item)">Düzenle</button>
                <button class="btn btn-danger mx-2" (click)="deleteQuestion(item)">Sil</button>
              </td>
            </tr>
            <tr *ngIf="quiz.questions.length<1">
              <td colspan="4">
                <h5 class="quizz pt-1 mt-1 ll-4">Hiç Kayıt Bulunamadı</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4 d-flex justify-content-end" style="margin-left:40px;">
      <div class="col-2"><button type="button" class="btn btn-success px-4 py-2 ms-0 me-4"
          [disabled]="quiz.questions.length<1" (click)="next()">
          İlerle</button>
      </div>
    </div>
  </div>
</div>
<ng-template #contentQuestion let-modal>
  <div class="modal-body bg-light">
    <app-questionUpdate [question]="question" [operationType]="operationType"
      (saveQuestion)="saveQuestion($any($event))" (updateQuestion)="updateQuestion($any($event))">
    </app-questionUpdate>
  </div>
</ng-template>
